include ../atoms/_mixin-icon

mixin service(title, iconName)
  article.service-item 
    +icon('medium', iconName)
    .service--content
      h3 #{title}
      p Lorem ipsum dolor sit amet consectetur adipisicing