extends ./html/_template
include ./html/atoms/_mixin-image
include ./html/atoms/_mixin-button
include ./html/molecules/_mixin-social
include ./html/molecules/_mixin-service
include ./html/molecules/_mixin-section
include ./html/molecules/_mixin-project

block append config
  - actual_page = "Home"

block append main
  +mixin-section('main-banner')
    .content-wrapper.content
      div.container
        h1.title Bienvenidos a EDsoft
        p.subtitle Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum, tempore animi. Quibusdam doloribus eos quidem?
        div: +button('#', 'Ver Proyectos', 'white')
      div.container
        +image('computer.svg', 'Main banner', 'image')

  +mixin-section('services-section')
    h2.header--medium Nuestros Servicios
    .content-wrapper
      +service('Servicio 1', 'phone')
      +service('Servicio 2', 'computer')
      +service('Servicio 3', 'keyboard')

  +mixin-section('about-section')
    h2.title Sobre nosotros
    .content-wrapper
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore perspiciatis facere assumenda dicta dolore numquam.
      +button('#', 'Contactanos', 'white', 'ghost')
    +image('bg-section.jpg', 'Background section', 'background')

  +mixin-section('projects-section')
    h2.title Nuestros proyectos 
    .content-wrapper
      +project('1')
      +project('2')
      +project('3')
      +project('4')
      +project('5')

  +mixin-section('work-with-us')
    h2.title Trabaja con nosotros
    p.subtitle Lorem, ipsum dolor sit amet consectetur adipisicing.
    +button('#', 'contacto@edsoft.com')
    +social